body {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    background-color: #18181b;
    margin: 0;
    overflow-x: hidden;
}

.noscroll {
    overflow: hidden;
}

.noscroll-modal {
    position: fixed;
    overflow-y: scroll;
}

a {
    color: #fff;
}

.loading-spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms ease-in-out;
    opacity: 1;
    pointer-events: none;
    background-size: cover;
    background-position: center top;
    background-color: #18181b;
}

.loading-spinner {
    width: 72px;
    height: 72px;
    display: flex;
    flex-wrap: wrap;
}

.loading-spinner>div {
    display: inline-flex;
    height: 24px;
    width: 24px;
    animation: cube 1.5s infinite ease-in-out;
}

.loading-spinner>div>div {
    height: 100%;
    width: 100%;
    background-image: url("../images/Bloodhound.png");
    background-size: 72px 72px;
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
}

.loading-spinner div:nth-child(1) {
    animation-delay: 300ms;
}

.loading-spinner div:nth-child(1) div {
    border-radius: 6px 0 0 0;
    background-position: 0% 0%;
}

.loading-spinner div:nth-child(2) {
    animation-delay: 400ms;
}

.loading-spinner div:nth-child(2) div {
    background-position: 50% 0%;
}

.loading-spinner div:nth-child(3) {
    animation-delay: 500ms;
}

.loading-spinner div:nth-child(3) div {
    border-radius: 0 6px 0 0;
    background-position: 100% 0%;
}

.loading-spinner div:nth-child(4) {
    animation-delay: 200ms;
}

.loading-spinner div:nth-child(4) div {
    background-position: 0% 50%;
}

.loading-spinner div:nth-child(5) {
    animation-delay: 300ms;
}

.loading-spinner div:nth-child(5) div {
    background-position: 50% 50%;
}

.loading-spinner div:nth-child(6) {
    animation-delay: 400ms;
}

.loading-spinner div:nth-child(6) div {
    background-position: 100% 50%;
}

.loading-spinner div:nth-child(7) {
    animation-delay: 100ms;
}

.loading-spinner div:nth-child(7) div {
    border-radius: 0 0 0 6px;
    background-position: 0% 100%;
}

.loading-spinner div:nth-child(8) {
    animation-delay: 200ms;
}

.loading-spinner div:nth-child(8) div {
    background-position: 50% 100%;
}

.loading-spinner div:nth-child(9) {
    animation-delay: 300ms;
}

.loading-spinner div:nth-child(9) div {
    border-radius: 0 0 6px 0;
    background-position: 100% 100%;
}

@keyframes cube {
    0%, 70%, 100% {
        transform: scale(1, 1);
    }
    35% {
        transform: scale(0, 0);
    }
}

#twitch-embed {
    margin: 0;
    position: relative;
    left: calc(50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

.sidebar__chat {
    height: 100%;
    width: 340px;
    float: right;
}

.container {
    width: calc(100%);
    position: absolute;
    height: 100%;
}

.sidebar {
    width: 380px;
    position: fixed;
    right: 0;
    height: 100%;
    overflow: hidden;
    display: none;
    border-left: 1px solid white;
}

.sidebar__openbutton {
    width: 40px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    border-right: 1px solid white;
}

.sidebar__btncontainer {
    width: 160px;
    top: 50%;
    position: relative;
    font-size: 2em;
    margin: 0;
    left: 6px;
}

.sidebar__openbutton:hover {
    cursor: pointer;
    background-color: #282828;
}

.container__socials {
    margin: 0 auto;
    display: table;
}

.container__socials div {
    float: left;
}

.container__socials--twitter {
    width: 240px;
    height: 240px;
    background-color: #1a97f0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1em;
}

.fab.fa-twitter.container__social--mini {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 2em;
}

.fab.fa-twitter.container__social--background {
    font-size: 10em;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 40px;
    right: 45px;
    opacity: 0.2;
}

.container__socials--twitch {
    width: 240px;
    height: 240px;
    background-color: #9147FF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1em;
}

.fab.fa-twitch.container__social--mini {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 2em;
}

.fab.fa-twitch.container__social--background {
    font-size: 10em;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 40px;
    right: 45px;
    opacity: 0.2;
}

.container__socials--youtube {
    width: 240px;
    height: 240px;
    background-color: #FF0000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1em;
}

.fab.fa-youtube.container__social--mini {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 2em;
}

.fab.fa-youtube.container__social--background {
    font-size: 13em;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 10px;
    right: 84px;
    opacity: 0.2;
}

.container__socials--discord {
    width: 240px;
    height: 240px;
    background-color: #7289D9;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1em;
}

.fab.fa-discord.container__social--mini {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 2em;
}

.fab.fa-discord.container__social--background {
    font-size: 10em;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 40px;
    right: 45px;
    opacity: 0.2;
}

.container__socials--hideandseek {
    width: 240px;
    height: 240px;
    background-color: #827717;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1em;
    cursor: pointer;
}

.fas.fa-lightbulb.container__social--mini {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 2em;
}

.fas.fa-lightbulb.container__social--background {
    font-size: 10em;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 40px;
    right: 45px;
    opacity: 0.2;
}

.container__socials .title {
    top: 165px;
    position: relative;
    left: 35px;
    font-weight: bold;
    font-size: 1.1em;
}

.container__socials .name {
    top: 190px;
    position: relative;
    left: -25px;
    font-size: 1em;
}

.container__socials a {
    text-decoration: none;
}

.container__socials--twitch .name {
    left: -22px;
}

.container__socials--youtube .name {
    left: -35px;
}

.container__socials--discord .name {
    left: -31px;
}

.container__socials--hideandseek .name {
    left: -4px;
}

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(24, 24, 27, 0.8);
}

.modal__form {
    width: 20%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5;
    padding: 2em;
}

.form__title {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    margin-bottom: 1em;
    margin-left: 2px;
}

input.form__name {
    width: 100%;
    padding: 10px;
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    font-size: 1.2em;
    background-color: #DCDCDC;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

input.form__name:hover {
    background-color: #BEBEBE;
}

textarea.form__desc {
    width: 100%;
    box-sizing: border-box;
    height: 40%;
    font-size: 1.2em;
    resize: none;
    background-color: #DCDCDC;
    margin-bottom: 1em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    padding: 10px;
    font-family: roboto;
}

textarea.form__desc:hover {
    background-color: #BEBEBE;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1.2em;
    color: #fff;
    background-color: #18181b;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.inputfile+label .fas.fa-file-upload {
    margin-right: 10px;
    color: #fff;
}

.inputfile:focus+label, .inputfile+label:hover {
    background-color: #282828;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #282828;
    cursor: pointer;
}

.form__submit {
    font-size: 1.2em;
    color: #fff;
    background-color: #18181b;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    margin: 0em 1.6em 1.6em 1.6em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 86%;
}

.form__error {
    color: red;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
}

.error {
    border-left: 5px solid red !important;
}

.form__label {
    color: #000;
}

.sidebar {
    display: block;
}

.container {
    width: calc(100% - 380px);
    position: absolute;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
    .container {
        right: 0 !important;
        width: auto;
    }
    .container__socials div {
        left: 50%;
        transform: translateX(-50%);
        margin-right: 3em;
    }
}

@media screen and (max-width: 1200px) {
    /*
    .container{
        right: 0 !important;
    }
*/
    .modal__form {
        width: 50%;
    }
}

#rxbby {
    font-size: 2em;
    position: absolute;
    bottom: -4%;
    left: -15%;
    z-index: 10;
}